.servicos {
    
  background-color: #323131;
  min-height: auto;
  margin-top: 5rem;
  padding: 70px 0;
}
.servicos h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 1.6rem;
}
.container-card {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}
.card {
  width: 200px;
  height: 250px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  box-shadow: 4px 4px 10px #0c0c0c;
}
.card h3{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    width: max-content;
    max-width: 80%;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: initial;
  row-gap: 2rem;
  column-gap: 2rem;
 justify-content: space-around;
}
.c1{
    background-image: url('../images/esquad.png');
}
.c2{
    background-image: url('../images/sacad.png');
}
.c3{
    background-image: url('../images/box2.png');
}
.c4{
    background-image: url('../images/espelho.png');
}
.c5{
    background-image: url('../images/janela.png');
}
.c6{
    background-image: url('../images/pelicula.png');
    background-size: cover;
}