@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
  font-family: "Libertarian";
  src: url("../fonts/libertarion\ Serif/LiberationSerif-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* Home */

.container {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/fundo_principal.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.titulo {
  margin-left: 4.5rem;
}
.titulo h1 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 27pt;
  max-width: 36rem;
  color: #d6b22e;
  margin-bottom: 0.7rem;
}
.titulo h3 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: 400;
  max-width: 35rem;
  color: #d9d9d9;
  margin-bottom: 5rem;
}
.titulo a {
  background-color: #d6b22e;
  border: 2px solid transparent;
  padding: 9px 16px;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: black;
}
.titulo a:hover {
  border: 2px solid #d6b22e;
  background-color: transparent;
  color: #d6b22e;
}
.sobre {
  padding-top: 60px;
  height: 90vh;
  margin-bottom: 3.5rem;
}

/* sobre  */
#sobre {
  width: 100%;
}

#sobre img {
  width: 30%;
  border: 5px solid;
}
.container-sobre {
  margin-top: 1.5rem;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.sobretxt {
  width: 40rem;
}
.sobre h2 {
  margin-top: 2rem;
  margin-left: 4.4rem;
  margin-bottom: 1.3rem;
  font-family: "Libertarian", "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 31pt;

  width: max-content;
}
.sobre h3 {
  font-family: "Montserrat";
  font-size: 22pt;
  margin-bottom: 0.8rem;
}
.sobre p {
  font-family: "Inter";
  font-weight: 300;
  font-size: 12pt;
}
.sobre span {
  color: #d6b22e;
}
@media (width < 340px) {
  .titulo {
    margin-left: 1rem;
  }
  .titulo h1 {
    font-size: small;
    max-width: 22rem;
  }
  .titulo h3 {
    max-width: 19rem;
    font-size: 8pt;
    margin-bottom: 27px;
  }
  .container {
    height: 100vh;
  }
}
@media (width < 470px) {
  .titulo {
    margin-left: 1rem;
  }
  .titulo h1 {
    font-size: 22pt;
    max-width: 22rem;
  }
  .titulo h3 {
    max-width: 22rem;
  }
  .container {
    background-position: 40%;
  }
  .sobre{
    height: max-content;
    padding-top: 5px;
    padding-bottom: 6.5rem;
  }
  #sobre img{
    width: 15rem;
   
  }
  .container-sobre{
    flex-direction: column;
    margin-left: 20px;
    margin-top: 2rem;
    row-gap: 2rem;
  }
  .sobretxt{
    width: 20rem;
  }
  .sobre h2{
    margin-left: 20px;
    font-size: 22pt;
    width: 90%;
  }

}
@media (width > 470px) and (width < 900px) {
  .container {
    height: 100vh;
    background-position: 80%;
  }
  .titulo {
    margin-top: 60px;
  }
  .titulo h1 {
    font-size: 30pt;
    max-width: 48rem;
  }
  .titulo h3 {
    font-size: 12pt;
    max-width: 41rem;
  }
  .sobre{
    height: 100vh;
  }
  .container-sobre {
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 4.6rem;
  }
  #sobre img {
    width: 50%;
    margin-bottom: 4rem;
  }
  .sobre h2{
    font-size: 27pt;
  }
  .sobre h3{
    font-size: 25pt;
  }
  .sobre p{
    font-size: 14pt;
    
  }
  .sobretxt p:last-child{
    margin-bottom: 3rem;
  }
  .sobre{
    position: relative;
    margin-bottom: 7rem;
  }
  
}

