header{
    width: 100%;
    height: 60px;
    background-color: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    padding-bottom: 10px;
    position: fixed;
    transition: all 0.4s ease-out;
}
#logo{
    width: 2rem;
    margin-left:4.5rem;
}
.btn-menu-mobile{
   /*  display: none; */
   background-color: transparent;
   margin-top: 10px;
   border: none;
   width: max-content;
   display: none;
}
.line1, .line2, .line3{
    width: 1.6rem;
    height: 0.25rem;
    margin-bottom: 5px;
    background-color: #000;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.line:last-child{
    margin-bottom: 0;
}

.close1{
    background-color: #000;
    transform: translate(0px) translateY(8px) rotate(48deg);

}
.close3{
    transform: translateX(0px) translateY(-10px) rotate(-45deg);

}
.close2{
    opacity: 0;
}
nav{
    margin-top: 0.5rem;
    margin-right: 7rem;
}
ul{
    display: flex;
    column-gap: 60px;
}
a{
    text-decoration: underline;
    text-decoration-color: transparent;
    font-family: 'Inter', Arial, Helvetica, sans-serif ;
    font-weight: 600;
    color: #f1f1f1;
    font-size: 12pt;
    transition: all 0.2s ease-in;
}
a:hover{
    text-decoration-color: rgba(41,41,41);
}
.out{
    color: rgba(41,41,41);
}
.outh{
    background-color: #d9d9d9;

}
.invert{
    filter: invert(100%);
}
.menu-mobile{
    display: none;
}

/* responsividade */

@media (width < 470px){
    nav{
        display: none;
    }
    .btn-menu-mobile{
        display: block;
        margin-right: 1.5rem;
    }
    #logo{
        margin-left: 1rem;
    }
    
}